<div
  class="relative z-30 flex items-center justify-center text-xs font-semibold uppercase tracking-[0.3em] text-[#9b8574] md:pointer-events-none md:absolute md:left-1/2 md:top-1/2 md:-translate-x-1/2 md:-translate-y-1/2 md:rounded-full md:bg-[#f7efe8]/85 md:px-3 md:py-1"
>
  or
</div>
