---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta name="generator" content={Astro.generator} />
		<slot name="head" />
		<title>Unserious</title>
	</head>
	<body class="min-h-screen bg-[radial-gradient(circle_at_top,_#f7efe8,_#f0e4d6_45%,_#e4d3c0_100%)] font-['Space_Grotesk'] text-[#2b2623] antialiased">
		<slot />
	</body>
</html>
